body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;

}
h1 {
    color: #333;
    text-align: center;

}
h2 {
    color: #333;
    font-weight: bold;
    margin-top: 20px;
}
h3 {
    color: #2196F3;
    margin-top: 15px;
}
p{
    color: #333;
    line-height: 1.5;
}
div.question {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}