body{
  background-color: #f4f4f9;
  border: 5px solid grey;
  border-radius: 10px;
}
h1{
  font-size: 40px;
  font-weight: bold;
  border: 2px solid #6c5ce7;
  border-radius: 5px;
  background-color: white;
  color:#2d3436;
  padding: 40px;
  text-align: center;
  width: 300px;
  margin: auto;
}
h2{
  font-size: 20px;
  font-weight: bold;
  color: black;
margin: 8px;}
p{
  color: black;
margin: 8px;}
li{
  line-height: 2;
  }
ul{
  list-style: square; 
background-color: white;
  border: 10px solid white;
  border-radius: 15px;
margin: 5px;}

li:hover{
  color: orangered;
}
