body{
  background-color: pink;
  border: 5px solid grey;
  border-radius: 10px;
}
h1{
  font-size: 40px;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 40px;
  text-align: center;
  width: 300px;
  margin: auto;
}
h2{
  font-size: 20px;
  font-weight: bold;
  color: black;
}
p{
  color: black;
}
li{
  line-height: 2;
  }
ul{
  list-style: square; 
background-color: white;
  border: 10px solid white;
  border-radius: 15px;}

li:hover{
  color: orangered;
}
