body{
  color: #2c3e50;
  font-family: sans-serif;
  background-color: #f9f9f9;
  margin: 20px;
  padding: 10px;
  max-width: 800px;
  margin: 20px auto;
}
h1{
  color: #2c3e50;
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 2px solid #2c3e50;
  padding-bottom: 5px;
}
h2{
  border-left: 4px solid #2c3e50;
  padding: 5px 10px;
  color: #2c3e50;
  font-size: 20px;  margin-top: 20px;
}
p{
  margin-bottom: 15px;
  line-height: 1.6;
  color: #2c3e50;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 400;
  
}

.flex-direction-container {
    background-color: lightgoldenrodyellow;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #333;
    font-family: sans-serif;
}
.justify-content-container {
    background-color: lightcyan;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    color: #333;
    font-family: sans-serif;
}
.box{
  background-color: lightgray;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #333;
  width: 50px;
  height: 50px;
  

}
.row-container{
  display: flex;
  flex-direction: row;
}
.column-container{
  display: flex;
  flex-direction: column;
}

.row-reverse-container{
  display: flex;
  flex-direction: row-reverse;
}
.column-reverse-container{
  display: flex;
  flex-direction: column-reverse;
}
.justify-content-flex-start-container{
  display: flex;
  justify-content: flex-start;
}
.justify-content-flex-end-container{
  display: flex;
  justify-content: flex-end;
}
.justify-content-center-container{
  display: flex;
  justify-content: center;
}
.justify-content-space-between-container{
  display: flex;
  justify-content: space-between;
}
.justify-content-space-around-container{
  display: flex;
  justify-content: space-around;
}
.align-items-container{
  background-color: lightyellow;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;

}
.align-items-flex-start-container{
  display: flex;
  align-items: flex-start;
  height: 150px;
  background-color: black;
  border: 1px solid #ccc;
}
.align-items-flex-end-container{
  display: flex;
  align-items: flex-end;
  height: 150px;
  background-color: black;
  border: 1px solid #ccc;

}
.align-items-center-container{
  display: flex;
  align-items: center;
  height: 150px;
  background-color: black;
  border: 1px solid #ccc;
}
.align-items-stretch-container{
  display: flex;
  align-items: stretch;
  height: 150px;
  background-color: black;
  border: 1px solid #ccc;
}
.stretch-box{
  background-color: lightgray;
  padding: 10px;
  margin: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  color: #333;
width: 50px;

}


.flex-wrap-container{
  background-color: lightcoral;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  

}
.flex-wrap-nowrap-container{
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid #ccc;
}

.flex-wrap-wrap-container{
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  
}
.flex-wrap-wrap-reverse-container{
  display: flex;
  flex-wrap: wrap-reverse;
  border: 1px solid #ccc;

}
.flex-flow-container{
  background-color: lightpink;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;

}

.flex-flow-row-wrap-container{
  display: flex;
  flex-flow: row wrap;
  border: 1px solid #ccc;

}
.align-content-container{
  background-color: lightseagreen;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;

}
.align-content-flex-start-container{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 300px;
  border: 1px solid #ccc;

}
.align-content-flex-end-container{
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  height: 300px;
  border: 1px solid #ccc;

}
.align-content-center-container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: 300px;
  border: 1px solid #ccc;

}
.align-content-space-between-container{
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  height: 300px;
  border: 1px solid #ccc;

}
.align-content-space-around-container{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  height: 300px;
  border: 1px solid #ccc;

}

