div{
    width: 300px;
    border: 2px solid grey;
    padding: 10px;
}
img{
    width: 100%;
}
p{
    background-color:#CC0C39;
    color: white;
    display: inline-block;
    padding: 5px 10px;
}
button{
    background-color: #FFD814;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 20px;
}
span{
    font-size: 20px;
    font-weight: bold;
}
del{
    font-size: 14px;
    color: grey;
}